replicaCount: 1

auth:
  enabled: true
  username: admin
  existingSecret: rabbitmq-secrets
  existingPasswordKey: rabbitmq-password
  existingErlangCookieKey: rabbitmq-cookie

config:
  logging:
    console:
      enabled: true
    file:
      enabled: true
    level: "info"

persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  storageClass: rook-ceph-block
  size: 10Gi

resources:
  requests:
    cpu: 200m
    memory: 128Mi
  limits:
    cpu: 400m
    memory: 256Mi

persistentVolumeClaimRetentionPolicy:
  enabled: true
  whenDeleted: Delete
  whenScaled: Delete

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host:
      paths:
        - path: /
          pathType: Prefix
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
