global:
  defaultStorageClass: "rook-ceph-block"

extraStartupArgs: "--verbose"

replicaCount: 3

extraEnvVars:
  - name: KC_PROXY
    value: edge
  - name: KC_HEALTH_ENABLED
    value: "true"
  - name: KC_METRICS_ENABLED
    value: "true"
  - name: KC_CACHE
    value: ispn
  - name: KC_CLUSTER
    value: jdbc

resources:
  limits:
    cpu: 2
    memory: 2048Mi
  requests:
    cpu: 1
    memory: 1024Mi

startupProbe:
  enabled: true
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 10
  failureThreshold: 12

livenessProbe:
  enabled: true
  initialDelaySeconds: 120
  periodSeconds: 15
  timeoutSeconds: 5
  failureThreshold: 4

readinessProbe:
  enabled: true
  initialDelaySeconds: 90
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6

auth:
  adminUser: user
  existingSecret: keycloak-secret
  passwordSecretKey: admin-password

production: true

proxyHeaders: "forwarded"

logging:
  level: ERROR

ingress:
  enabled: true
  hostname: ""
  ingressClassName: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  tls: true
  selfSigned: true

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    labels:
      release: prometheus

postgresql:
  enabled: false

externalDatabase:
  host: postgresql-primary.default
  port: 5432
  user: keycloak
  database: keycloak
  schema: public
  existingSecret: "keycloak-secret"
  existingSecretUserKey: "db-user"
  existingSecretPasswordKey: "db-password"